:root {
  --main-bg-color: #618685;
  --main-fg-color: white;
  --menu-item-body-bg-color: #F5F5F5;
  --menu-subitem-body-bg-color: white;
  --main-border-color: #303030;
  --menu-item-header-bg-color: #D0D0D0;
  --menu-item-border-radius: 5px;
  --menu-item-border-color: var(--main-border-color);
  --menu-subitem-border-color: #A9A9A9;
  --active-border-color: var(--main-border-color);
  --active-bg-color: #c4d4d4;
  --header-font-size: 12px;
  --header-height: calc(var(--header-font-size) * 2.5);
  --footer-font-size: 10px;
  --footer-height: calc(var(--footer-font-size) * 2.2);
  --container-header-font-size: 14px;
  --container-header-height: calc(var(--container-header-font-size) * 1.5);
  --menu-header-font-size: 14px;
  --menu-header-height: calc(var(--menu-header-font-size) * 1.5);
  --menu-body-font-size: 12px;
  --menu-body-bg-color: white;
  --padding: 5px;
  --hover-border-color: var(--main-border-color);
  --hover-bg-color: #d3dfde;
}

ul {
  margin-top: 0;
  margin-bottom: 5px;
}
li {
  list-style-type: none;
  margin-left: -20px;
}
table {
  border-spacing: var(--padding) 0;
  margin-left: -7px;
}
td, th {
  text-align: left;
  padding: calc(var(--padding) / 2);
}
dt {
  font-weight: 600;
  margin-top: calc(var(--padding));
}
dd {
  margin-left: calc(var(--padding) * 2);
  margin-top: calc(var(--padding) / 2);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  border-color: var(--main-border-color);
  box-sizing: border-box;
  border-width: thin;
  font-family: sans-serif;
}
header, footer {
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-color: var(--main-bg-color);
  border-color: var(--main-border-color);
  box-sizing: border-box;
  border-width: thin;
  color: var(--main-fg-color);
  width: 100vw;
}
header {
  text-align: left;
  border-bottom-style: solid;
  height: var(--header-height);
  line-height: var(--header-height);
}
footer {
  position: fixed;
  text-align: right;
  height: var(--footer-height);
  line-height: var(--footer-height);
  font-size: var(--footer-font-size);
  top: calc(100vh - (var(--header-height) + var(--header-width)));
  box-sizing: border-box;
  border-top-style: solid;
}
header span {
  display: inline-block;
  vertical-align: middle;
  line-height: var(--header-height);
}
footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: var(--footer-height);
}
nav, aside {
  box-sizing: border-box;
  border-width: thin;
  border-color: var(--main-border-color);
}
nav {
  border-right-style: solid;
}
aside {
  border-left-style: solid;
}

.main {
  top: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}
.sidebar {
  text-align: left;
  flex-basis: 20vw;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-content: stretch;
  background-color: var(--menu-body-bg-color);
}

.content {
  flex-basis: 60vw;
}
.viewport {
  height: calc(100vh - (var(--header-height) + var(--container-header-height) + var(--menu-header-height)));
  background-color: white;
}

.container {
}
.container-header {
  padding-left: var(--padding);
  padding-top: calc(var(--padding) / 2);
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  vertical-align: middle;
  height: var(--container-header-height);
  line-height: var(--container-header-height);
  font-size: var(--container-header-font-size);
  border-width: thin;
  border-bottom-style: solid;
  border-color: var(--main-border-color);

}
.container-body {
  background-color: var(--menu-body-bg-color);
}
.menu {
  padding: var(--padding);
  vertical-align: top;
}
.menu-item {
  background-color: var(--menu-item-body-bg-color);
  margin: 0 0 var(--padding) 0;
  border-width: thin;
  border-color: var(--menu-item-border-color);
  border-style: solid;
  border-radius: var(--menu-item-border-radius);
}
.menu-subitem {
  background-color: var(--menu-subitem-body-bg-color);
  border-width: thin;
  border-color: var(--menu-subitem-border-color);
  border-style: solid;
  border-radius: var(--menu-item-border-radius);
  padding: var(--padding);
  margin: 0 0 var(--padding) -5px;
}
.menu-item-header {
  padding-left: var(--padding);
  padding-top: calc(var(--padding) / 2);
  height: var(--menu-header-height);
  line-height: var(--menu-header-height);
  vertical-align: middle;
  color: black;
  font-weight: 600;
  font-size: var(--menu-header-font-size);
  background-color: var(--menu-item-header-bg-color);
  border-radius: calc(var(--menu-item-border-radius) / 1.5) calc(var(--menu-item-border-radius) / 1.5) 0 0;
  border-width: thin;
  border-color: var(--menu-item-border-color);
  border-style: none none solid none;
}
.menu-subitem-header {
  font-size: var(--menu-body-font-size);
  text-decoration: underline;
}
.menu-item-body {
  padding: var(--padding);
  font-size: var(--menu-body-font-size);
}
.menu-subitem-body {
  font-size: var(--menu-body-font-size);
  background-color: var(--menu-bg-color);
}

.container#studies-container {
  background-color: var(--menu-body-bg-color);
  flex-basis: 66%;
  border-bottom-style: solid;
  border-width: thin;
}
.container#series-container {
  background-color: var(--menu-body-bg-color);
  flex: 1;
}
.container#specimens-container {
  background-color: var(--menu-body-bg-color);
}

.sticky {
  overflow: hidden;
}
.scrollable {
  height: 100%;
  overflow: scroll;
}
.selectable:hover {
  border-color: var(--hover-border-color);
  background-color: var(--hover-bg-color);
}
.selectable.active, .selectable:active, .selectable:focus {
  border-color: var(--active-border-color);
  background-color: var(--active-bg-color);
}
