name: dmv/build-and-unit-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        bun-version: ["1.0", "1.1"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build package in production mode
        run: bun run build
      - name: Lint with standard
        run: bun run lint
      - name: Test with jest
        run: bun run test
